.container{
    margin: auto;
    width: 100%;
}
.header{
    display: flex;
    justify-content: space-between;
    background-color: black;
}
h1{
    font-size: 40px;
    margin-left: 80px;
    padding: 20px;
    color: #fff;
    cursor: pointer;
}
.navigation{
    width: 820px;
    padding: 20px;
    margin-top: 20px;
    cursor: pointer;
}
.navigation ul li{
    display: inline;
    padding: 10px 40px;
    color: #fff;
    font-size: small;
}
.navigation ul li:hover{
    color: greenyellow;
}
.banner{ 
   width: 100%;
   background-image: url(../images/hero-bg.jpg);
   height: 60vh;
   background-size: cover;
   background-position: center;
   color: #615b5b;
}
.background{
    background-color: rgba(12,8,7,0.7);
    height: 60vh;
}
.banner-content1{
    text-align: center;
    padding: 15px;
    font-size: 48px;
    font-weight: 700;
    font-family:"Raly way",sans-serif;
    color: #fff;
    padding-top: 80px;
}
.banner-content2{
    text-align: center;
    padding: 5px;
    font-size: 24px;
    margin-bottom: 50px;
    color: #eee;
    font-family:"Raly way",sans-serif;
}
.get-started{
    text-align: center;
    padding: 12px 30px;
    border: solid 2px #8fc04e;
    border-radius: 50px;
    margin: 10px;
    font-family:"Raly way",sans-serif;
    font-size: 16px;
    font-weight: 500;
    display: inline;
    margin-left: 600px;
    letter-spacing: 1px;
    cursor: pointer;
    color: #eee;
}
.get-started:hover{
    background-color: #8fc04e;
}
.about-flex-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
}
.about-left{
    width: 650px;
}
.image{
  min-height: 650px;
  background-image: url(../images/about.jpg);
  background-size: cover;
  margin-left: 40px;
 }
 /* .about-right{
    margin: 48%;
 } */
 .about{
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 8px 20px;
    /* margin: 0 0 15px 0; */
    background: #f3f8ec;
    color: #8fc04e;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 50px;
    margin-right: 530px;
}
.about-head{
    color: #353535;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    font-family: "Raleway", sans-serif;
    width: 600px;
    padding: 10px;
}
.about-head-content  {
    width: 500px;
    margin-top: 10px;
    font-family: "Open Sans", sans-serif;
    color: #444444;
    letter-spacing: 1px;
    line-height: 25px;
}
i{
    color: #8fc04e;
    font-size: 32px;
    position: relative;
} 
.icon{
    /* margin-top: 30px;
    /* float: left; */
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border-radius: 50px;
    border: solid 1px rgb(215, 202, 202);
    /* transition: 0.5s; */
    background-color:#f3f8ec;
    
}
.about-right-bottom{
    /* display: flex; */
    justify-content: space-between;
    margin-top: 50px;
}
.icon-content h3{
    font-size: 20px;
    margin-left: 85px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 600;
}
.icon-content p{
 width: 500px; 
 margin-left: 85px;
 line-height: 24px;
 font-size: 16px;
 margin-top: 20px;
 font-family: "Open Sans", sans-serif;
 color: #444444;
}
.about-right-bottom-content1{
    margin-top: 50px;
}
.icon-content1 h3{
    font-size: 20px;
    margin-left: 85px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 600;
}
.icon-content1 p{
 width: 500px; 
 margin-left: 85px;
 line-height: 24px;
 font-size: 16px;
 margin-top: 20px;
 font-family: "Open Sans", sans-serif;
 color: #444444;
}
.about-right-bottom-content2{
    margin-top: 50px;
}
.icon-content2 h3{
    font-size: 20px;
    margin-left: 85px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 600;
}
.icon-content2 p{
     width: 500px; 
     margin-left: 85px;
     line-height: 24px;
     font-size: 16px;
     margin-top: 20px;
     font-family: "Open Sans", sans-serif;
     color: #444444;
}
.about-right-bottom-content .icon-content h3:hover{
  color: #8fc04e;
  cursor: pointer;
}
.about-right-bottom-content1 .icon-content1 h3:hover{
    color: #8fc04e;
    cursor: pointer;
  }
  .about-right-bottom-content2 .icon-content2 h3:hover{
    color: #8fc04e;
    cursor: pointer;
  }
  .icon:hover{
    background-color: #8fc04e;
    color: #eee;
  }
  i:hover{
    color: #eee;
  }
  .choice{
    width: 100%;
    text-align: center;
  }
  .choice-heading{
    border-radius: 350px;
    padding: 8px 20px;
    margin-left: 100px;
    font-size: 13px;
    /* background-color: #f5f2f2; */
    font-weight: 700;
    color:#8fc04e;
    background-color: #f3f8ec;
    letter-spacing: 1px;
    font-family: "Raleway", sans-serif;
    /* text-transform: uppercase; */
    display: inline;
  }
  .about-right-bottom-content:hover .icon i{
    color:#eee;
 }
 .about-right-bottom-content:hover .icon{
    background-color: #8fc04e;
    transition: 0.9s;
 }
 .about-right-bottom-content1:hover .icon i{
    color:#eee;
 }
 .about-right-bottom-content1:hover .icon{
    background-color: #8fc04e;
    transition: 0.9s;
 }
 .about-right-bottom-content2:hover .icon i{
    color:#eee;
 }
 .about-right-bottom-content2:hover .icon{
    background-color: #8fc04e;
    transition: 0.9s;
 }
 .choice{
    margin-top: 50px;
 }
 .choice-content{
    font-size: 32px;
    font-weight: 700;
    color: #444444;
    font-family: "Raleway", sans-serif;
    margin-top: 35px;
    margin-left: 100px;
 }
 .choice-para p{
    font-family:  "Open Sans", sans-serif;
    font-weight: 500;
    font-size:20px;
    width: 600px;
    text-align: center;
    margin-left: 450px;
    margin-top: 20px;
    line-height: 25px;
    color: #444444;
}
.choice-content  span{
color: #8fc04e;
}
 .flex-box{
    display: flex;
    justify-content:space-evenly;
    width: 90%;
    margin-top: 40px;
    margin-left: 50px;
    height: 370px;
} 
.box1{
    width: 30%;
    padding: 50px 50px 50px 30px;
    height: 280px;
    align-items: center;
    box-shadow: 0px 5px 20px rgb(0 0 0 / 15%);
    border-width: 20px;
    margin-left: 50px;
    box-sizing: border-box;
    line-height: 25px;
}
.box2{
    width: 30%;
    padding: 50px 50px 50px 30px;
    height: 280px;
    /* text-align: center; */
    align-items: center;
    box-shadow: 0px 5px 20px rgb(0 0 0 / 15%);
    /* box-sizing: content-box; */
    /* display: inline-block; */
    border-width: 20px;
    /* margin-left: 90px; */
    box-sizing: border-box;
    line-height: 25px;
}
.box3{
    width: 30%;
    padding: 50px 50px 50px 30px;
    height: 280px;
    align-items: center;
    box-shadow: 0px 5px 20px rgb(0 0 0 / 15%);
    border-width: 20px;
    margin-right: 10px;
    box-sizing: border-box;
    line-height: 25px;   
}
.box1 .no{
    color: #8fc04e;
    font-size: 28px;
    font-weight: 700;
    display: block;
    font-family:"Open Sans", sans-serif;
}
.box1 h3{
    font-size: 24px;
    font-weight: 600;
    color: #353535;
    font-family:"Raleway", sans-serif;
    margin-top: 25px;
}
.box1 .box-para{
    font-size: 18px;
    color: #615b5b;
    margin-top: 20px;
    padding-bottom: 20px;
}
.box2 .no{
    color: #8fc04e;
    font-size: 28px;
    font-weight: 700;
    display: block;
    font-family:"Open Sans", sans-serif;
}
.box2 h3{
    font-size: 24px;
    font-weight: 600;
    color: #353535;
    font-family:"Raleway", sans-serif;
    margin-top: 25px;
}
.box2 .box-para{
    font-size: 18px;
    color: #615b5b;
    margin-top: 20px;
    padding-bottom: 20px;
}
.box3 .no{
    color: #8fc04e;
    font-size: 28px;
    font-weight: 700;
    display: block;
    font-family:"Open Sans", sans-serif;
}
.box3 h3{
    font-size: 24px;
    font-weight: 600;
    color: #353535;
    font-family:"Raleway", sans-serif;
    margin-top: 25px;
}
.box3 .box-para{
    font-size: 18px;
    color: #615b5b;
    margin-top: 20px;
    padding-bottom: 20px;
}
.box1:hover{
    background-color: #8fc04e;
    transition: all 2s;
}
.box2:hover{
    background-color: #8fc04e;
    transition: all 2s;
}
.box3:hover{
    background-color: #8fc04e;
    transition: all 2s;
}
.box1:hover .no{
    color: #eee;
    /* margin-bottom: 20px;
    transition: all 0.3s; */
}
.box2:hover .no{
    color: #eee;
    /* margin-bottom: 20px;
    transition: all 0.3s; */
}
.box3:hover .no{
    color: #eee;
    /* margin-bottom: 20px;
    transition: all 0.3s; */
}
.box1:hover h3{
    color: #eee;
    /* margin-bottom: 20px;
    transition: all 0.3s; */
}
.box2:hover h3{
    color: #eee;
    /* margin-bottom: 20px;
    transition: all 0.3s; */
}
.box3:hover h3{
    color: #eee;
    /* margin-bottom: 20px;
    transition: all 0.3s; */
}
.box1:hover .box-para{
    color: #eee;
    /* margin-bottom: 20px;
    transition: all 0.3s; */
}
.box2:hover .box-para{
    color: #eee;
    /* margin-bottom: 20px;
    transition: all 0.3s; */
}
.box3:hover .box-para{
    color: #eee;
    /* margin-bottom: 20px;
    transition: all 0.3s; */
}
.numbers{
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.number .no1{
    font-size: 48px;
    color: #8fc04e;
}
.number span{
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    color: #615b5b;
}
.action{
    text-align: center;
    width: 100%;
    background-image: url(../images/action.jpg);
    background: linear-gradient(rgba(2,2,2,0.9) rgb(2, 2, 2));
    /* background-color: #3f4c5fd4; */
    height: 270px;
    overflow: hidden;
    /* background-position: center; */
    box-sizing: border-box;
    background-size: cover;
}
.action-heading{
    font-size: 28px;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    color: #fff;
    margin-top: 50px;
}
.action-para p{
    color: #eee;
    font-size: 19px;
    margin-top: 15px;
    line-height: 25px;
    width: 83%;
    margin-left: 100px;
}
.action-call {
    margin-top: 40px;
}
.action-call a{
    text-decoration: none;
    border: solid 2px #eee;
    color: #eee;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 15px;
    font-weight: 600;
    font-family:"Raleway", sans-serif;
    padding: 10px;
}
.action-call a:hover {
    background-color: #8fc04e;
    border-color: #8fc04e;
}
.services{
    margin-top: 50px;
    text-align: center;
    height: 170px;
 }
 .services-heading{
    border-radius: 350px;
    padding: 8px 20px;
    margin-left: 100px;
    font-size: 15px;
    background-color: #f5f2f2;
     font-weight: 700;
    color:#8fc04e;
    background-color: #f3f8ec;
    letter-spacing: 1px;
    font-family: "Raleway", sans-serif;
    /* text-transform: uppercase; */
     display: inline;
  }  
  .services-content{
        font-size: 32px;
        font-weight: 700;
        color: #444444;
        font-family: "Raleway", sans-serif;
        margin-top: 35px;
        margin-left: 100px;
  } 
 .services-para p{
    font-family:  "Open Sans", sans-serif;
    font-weight: 500;
    font-size:20px;
    width: 600px;
    text-align: center;
    margin-left: 450px;
    margin-top: 20px;
    line-height: 25px;
    color: #444444;
} 
 .services-content  span{
color: #8fc04e;
} 
.service-box{
    display: flex;
    flex-wrap: wrap;
    width: 1300px;
    text-align: center;
    justify-content: space-around;
    margin-left: 30px;
}
.service-box1{
    border:1px solid #d7dad2;
    width: 400px;
    height: 330px;
    box-sizing: border-box;
    margin: 10px;
    /* padding: 30px 30px 30px 0px; */
    padding: 60px;
    /* box-shadow: 0px 5px 20px rgb(0 0 0 / 15%); */
    }
.service-icon i{
    border: solid 1px rgb(215, 202, 202);
    border-radius: 50%;
    padding: 18px;
    font-size: 20px;
    background-color:#f3f8ec;
    /* transition: all ease-in-out 0.3s; */
}
.service-box1 h3{
    font-size: 24px;
    font-weight: 600;
    color: #353535;
    font-family:"Raleway", sans-serif;
    margin-top: 40px;
}
.service-box1 p{
    font-size: 18px;
    color: #615b5b;
    margin-top: 20px;
    padding-bottom: 20px;
    width: 300px;
    align-items: center;
}
.service-box1:hover{
    box-shadow: 0px 5px 20px rgb(0 0 0 / 15%);
    transition:  1.5s;
}   
.service-box1:hover .service-icon i{
  color: #8fc04e;
  border-color: #8fc04e ;
  transition: 0.9s;
}
.service-box1:hover h3{
    color: #8fc04e;
    transition: 0.9s;
}
.port{
    margin-top: 50px;
    text-align: center;
    height: 170px;
 }
.port-heading{
    border-radius: 350px;
    padding: 8px 20px;
    margin-left: 100px;
    font-size: 15px;
    background-color: #f5f2f2;
     font-weight: 700;
    color:#8fc04e;
    background-color: #f3f8ec;
    letter-spacing: 1px;
    font-family: "Raleway", sans-serif;
    /* text-transform: uppercase; */
     display: inline;
}
.port-content{
    font-size: 32px;
        font-weight: 700;
        color: #444444;
        font-family: "Raleway", sans-serif;
        margin-top: 35px;
        margin-left: 100px;
}
.port-para{
    border-radius: 350px;
    padding: 8px 20px;
    margin-left: 420px;
    font-size: 15px;
     font-weight: 700;
    color:#615b5b;
    line-height: 24px;
    letter-spacing: 1px;
    font-family: "Raleway", sans-serif;
    /* text-transform: uppercase; */
     /* display: inline; */
     width: 500px;
}
.port-content span{
    color: #8fc04e;
}
.port-website{
    display: flex;
    justify-content: center;
    margin-left: 30px;
}
.port-all{
    border: solid 1px rgb(215, 202, 202);
    cursor: pointer;
    display: inline-block;
    padding: 8px 16px 10px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    background-color: #8fc04e;
    margin: 0 3px 10px 3px;
    transition: all ease-in-out 0.3s;
    color: #eee;
    border-radius: 50px;
    text-align: center;
}
.port-app{
    border: solid 1px rgb(215, 202, 202);
    cursor: pointer;
    display: inline-block;
    padding: 8px 16px 10px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: #444444;
    margin: 0 3px 10px 3px;
    transition: all ease-in-out 0.3s;
    background: #efefef;
    border-radius: 50px;
}
.port-app:hover.port-app {
    color: #eee;
    background-color: #8fc04e;
}
.port-card{
    border: solid 1px rgb(215, 202, 202);
    cursor: pointer;
    display: inline-block;
    padding: 8px 16px 10px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: #444444;
    margin: 0 3px 10px 3px;
    transition: all ease-in-out 0.3s;
    background: #efefef;
    border-radius: 50px;
}
.port-card:hover.port-card {
    color: #eee;
    background-color: #8fc04e;
}
.port-web{
    border: solid 1px rgb(215, 202, 202);
    cursor: pointer;
    display: inline-block;
    padding: 8px 16px 10px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    color: #444444;
    margin: 0 3px 10px 3px;
    transition: all ease-in-out 0.3s;
    background: #efefef;
    border-radius: 50px;
}
.port-web:hover.port-web {
    color: #eee;
    background-color: #8fc04e;
}
.port-flex-container{
    width: 80%;
    margin-left: 140px;
    margin-top: 30px;
} 
.port-flex-container-iteams{
    /* overflow: hidden; */
    margin: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 800px;
}
.port-img{
    width: 33.3%;
    height: 290px;
    position: relative;
    overflow: hidden; 
    background-size:cover ;
}
.port-img .port-img1 img{
    /* overflow: hidden; */
    height: 267px;
    width: 340px;
}
.port-img-content{
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 10%;
    opacity: 0;
    /* flex-direction: row; */
    background: #8fc04e;
    width: 330px;
    height: 60px;
    /* left: 15px;
    right: 15px; */
    margin-left: 5px;
    padding-top: 35px;
}
.port-img-app{
    padding-left: 20px;
}
.port-link i{
    /* padding-left: 100px; */
    padding-top: 20px;
    color: white;
    /* display: flex; */
    padding-right: 10px;
    font-size: 28px;
    font-weight: 700;
}
.port-img-app h3{
    font-size: 18px;
    font-weight: 600px;
    color: #fff;
    font-family: "Open Sans", sans-serif;
}
.port-img-app h4{
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    margin-top: 10px;
    color: #fff;
}
/* .port-img:hover .port-img img {
    transform: scale(1.6);
    transition: all 0.5s; */
 .port-flex-container-iteams .port-img:hover .port-img1{
    margin-top: -30px;
    transition: all 0.9s;
}
.port-flex-container-iteams .port-img:hover .port-img-content{
    margin-top: -30px;
    transition: all 0.5s;
    background-color: #8fc04e;
    opacity: 1;
}
.teams{
    width: 100%;
    height: 200px; 
    margin-top: 100px;
    text-align: center;
} 
.team-heading{
    font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    padding: 8px 20px;
    margin: 0;
    background: #f3f8ec;
    color: #8fc04e;
    display: inline-block;
    /* text-transform: uppercase; */
    border-radius: 50px;
    /* margin-bottom: 80px; */
}
.team-sub-heading{
    padding-top: 20px;
    font-size: 32px;
    font-weight:700;
    font-family: "Raleway", sans-serif;
}
 .team-sub-heading span{
    color: #8fc04e;
    /* margin-bottom: 100px; */
}
.teams-para{
    font-family: "Open Sans", sans-serif;
    color: #444444;
    font-weight: 600;
    padding-top: 10px;
    width: 50%;
    margin-left: 350px;
    letter-spacing: 1px;
    line-height: 20px;
}
























